NewsBot_AI.json
{
  "name": "NewsBot AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summerize the key points and insights from transcript:  {{ $json.text }}\n\nAnd Follow the rule below:\n  1. List key points. \n  2. give the most important takeaway.\n  3. In 50 words"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -80,
        180
      ],
      "id": "b48fac40-fc99-475e-adbd-daf9fe0de737",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        360
      ],
      "id": "dc76bbcb-7451-4de0-bb83-a7d4e35f50ba",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "6TVkMy98JS9kDjYY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -40
      ],
      "id": "d56a97f4-afe8-4708-8605-6fb76929dd9b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "videoId": "=https://www.youtube.com/watch?v={{ $json.outputString }}"
      },
      "type": "n8n-nodes-youtube-transcription.youtubeTranscripter",
      "typeVersion": 1,
      "position": [
        360,
        -40
      ],
      "id": "a06d068f-ae3c-4ab4-87c8-86f7aaf8833e",
      "name": "YouTube Transcript"
    },
    {
      "parameters": {
        "jsCode": "const outputString = $input.first().json.stdout.replace(/\"/g, '');  // Remove all double quotes\nreturn [{ json: { outputString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -40
      ],
      "id": "23918bf7-7c3d-4e84-9641-42396904249a",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Date: {{ $today.format('yyyy-MM-dd') }}\n\nURL: https://www.youtube.com/watch?v={{ $json.outputString }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        360,
        -200
      ],
      "id": "00d51eec-8cad-4513-b628-c03870ee4e8b",
      "name": "Send Video URL",
      "credentials": {
        "discordWebhookApi": {
          "id": "zz5G4XnFdFL3FcLc",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "command": "yt-dlp --flat-playlist \"https://www.youtube.com/@CNN10/videos\" --print-json | jq -s '.[0].id'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        40,
        -40
      ],
      "id": "02bbf7a7-02fa-4331-88f7-b6a9770dfa7f",
      "name": "Get The latest Video ID"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n    text: items[0].json.transcript.map(t => t.text).join(\" \") \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -40
      ],
      "id": "4ed8164d-9fb9-4a5f-a4d5-05320a91a1b8",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        360,
        180
      ],
      "id": "74c3c2fa-1610-4003-8782-3823e2c31000",
      "name": "Send Result",
      "credentials": {
        "discordWebhookApi": {
          "id": "zz5G4XnFdFL3FcLc",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        -200
      ],
      "id": "ded42049-dbaf-4c97-856d-94c0610fe2c7",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get The latest Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Transcript": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "YouTube Transcript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get The latest Video ID": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get The latest Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6fe27e5e-38fc-43ea-84f1-0c0331ac4579",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "848411899cc2ac652fff39c5acba3c98210ec64d9db17dedb865a520ad625b8f"
  },
  "id": "r6YVPO4jYzx8V9FP",
  "tags": []
}